<!DOCTYPE html>
<html lang="en">
{%include "trip/header.html"%}
    <body>
    {%include "trip/nav_top.html"%}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 well">
                    {%include "trip/nav_left.html"%}
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-sm-9">
                    {%include body_template%}
                </div><!--/span-->
            </div><!--/row-->

            <hr>
            <footer> <p>© Massival 2015</p> </footer>
        </div>

        {%include "trip/footer.html"%}
    </body>
</html>
