<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nv-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TripApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nv-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <p class="nav navbar-text">
            Logged in as 
                <a href="#" class="navbar-link"><em style="color: white">heyitan</em><span class="sr-only">(current)</span></a>
                <a href="#" class="navbar-link"><em style="color: white">&nbsp</em></a>
                <a href="/trip" class="navbar-link"><em style="color: white">Logout</em></a>
            </p>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
